step_functions/contract_review.asl.json
{
  "Comment": "Contract review step function (skeleton)",
  "StartAt": "Ingest",
  "States": {
    "Ingest": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName.$": "$.lambda_arn",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "Next": "RiskAnalysis"
    },
    "RiskAnalysis": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName.$": "$.lambda_arn",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "Next": "Compliance"
    },
    "Compliance": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName.$": "$.lambda_arn",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "Next": "Summary"
    },
    "Summary": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName.$": "$.lambda_arn",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "Next": "Approval"
    },
    "Approval": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName.$": "$.lambda_arn",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "End": true
    }
  }
}